<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
   <display-name>springmvc-chapter6</display-name>
   <!-- ContextLoaderListener加载数据库等系统级配置文件 line8-line22-->
    <context-param>
		<param-name>contextConfigLocation</param-name>
		<!-- 
			don't use classpath*:*.xml pattern ,
			weblogic not support.
		-->
		<param-value>
		    <!--
			classpath:config/spring/applicationContext.xml,
			classpath:config/spring/dataAccessContext-hibernate.xml
			-->
		</param-value>
	</context-param>	
	<listener>
		<listener-class>com.alilang.spider.web.support.ContextloaderListener</listener-class>
	</listener>
	
	<servlet>
    	<servlet-name>drmServer</servlet-name>
    	<servlet-class>com.alilang.spider.web.support.ServletServer</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>drmServer</servlet-name>
    	<url-pattern>/drmServer</url-pattern>
    </servlet-mapping>
	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>